<div class="admin_title_container">
<span class="admin_title">
    SYSTEM PASSWORD

  <% 30.times do %>
          &nbsp;
      <% end %>
  </span>
</div>

<div style="margin-top: 100px;">

  <form action="#">
      <span class="admin_content">
        PASSWORD
        </span>
    <input name="password" type="text" style="width: 400px;">

    <div style="margin-top: 70px">
      <a href="/" >
        <img src="images/back_button.png">
      </a>
      <%= image_submit_tag "enter_button.png" %>
    </div>
  </form>
</div>