<div class="container">
<div style="margin-top: 10px;">
  <table>
    <tr>
      <td rowspan="2"><img src="/images/description.png" /></td>
      <td rowspan="2"><a href="scan"><img src="/images/main_scan.jpg" /></a></td>
      <td><a href="statistics"><img src="/images/main_statistics.jpg" /></a></td>
    </tr>
    <tr>
      <td><a href="management"><img src="/images/main_management.jpg" /></a></td>
    </tr>
  </table>
</div>
</div>