/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.top_layout {
  background-image:url('../images/top_bg.png');
  height: 58px;
  text-align: right;

  .top_menu {
    vertical-align: bottom;
    padding-top: 14px;
    padding-right: 12px;
    img {
      padding-right: 12px;
    }
  }
}

body {
  background-image:url('../images/mid_bg.png');
}

.mid_layout {
  text-align: center;
  width: 1366px;
  max-width: 1366px;
  margin: auto;
}
.bottom_layout {
  background-image:url('../images/bottom_bg.png');
  height: 44px;
}

.image_tr img {
  max-width: 330px;
  max-height: 210px;
}

.admin_title {
  font-size: 30px;
  color: white;
  font-weight: 500;
  text-decoration: underline;
}

.admin_content {
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.admin_content_sub {
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.left {
  text-align: left;
}

.test {
  background: #730E15;
}

.admin_title_container {
  background: red;
  width: 100%;
  padding: 10px;
  margin-top: 100px;
}

table.admin_content {
  tr td {
    padding: 10px;
    text-align: left;
  }
}

.description_textarea {
  height: 150px;
  width: 95%;
  font-size: 12px;
}

@media print {
  .no_print {
    display: none;
  }

  .large_print {
    min-width: 500px;
    min-height: 500px;
    height: auto;
  }

  .image_tr img {
    width: 500px;
    height: 500px;
  }
}
